/* write your override styles here */
#wall + .tag-1 {
    display: none;
} 

div#wall div.parent div#tag-4 {
    display: none;
}

body div#wall div
.parent + div > div#tag-7 div.class {
    display: none;
}

body div#wall div#tag-3 div.slick-wicked {
    display: none;
}

body div#wall div.class div#tag-2 {
    display: none;
}
